h1 {
    font-family:'Special Elite', cursive; 
    font-size: 150px;
    text-align: center;
    color: black;
    margin: 20px;
}
h2 {
    font-family: 'Special Elite', cursive;
}
.descriptionbox {
    width: 100%;
    height: 100%;
    margin-left: auto;
    text-align: 100px;
}
.descriptionbox p{
    font-family: 'Courier Prime', monospace;
    font-size: 25px;
}

.descriptionbox h2{
    font-size: 40px;
    font-weight: bolder;
}

.form-group {
    float: left;
    float: block;
}
.row .Gender {
    float: center;
    margin align: 30px;

}  
input {
    float: left;
    float: block;
}
body {
    background-image: url(../back-img/red.jpeg);
    color: white;
}
.jumbotron {
    background-color: black
}
.form {
    width: 90%;
    height: 60%;
    margin: 20px;
    text-align: 100px;
    font-family:'Courier Prime', monospace; 
    font-size: 15px;
}